body{
    font-family: 'Ubuntu', sans-serif;
}
.Beautiful{
    color: black;
}


h1{
    color:  rgb(0, 0, 0);
    text-align: center;
}

.Menubar{
     margin-bottom: 30px; 
     
}

.navbar{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    /* box-shadow: 0px 1px 2px #ccc; */
    margin-bottom: 25px;
    background-color: #fff;
    
    
    
}
.logo-img{
    height: 55px;
    width: 65px;
}
.fa-solid{
    font-weight: 900;
    color: rgb(133, 133, 130);
}
.fa-solid  fa-phone-volume{
    font-weight: 900;
    color:rgb(133, 133, 130);
}
.fa-regular {
    font-weight: 400;
    color: rgb(133, 133, 130);
}
i{
    margin-right: 5px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 15px 25px;
}
.navbar li a{
    padding: 6px 6px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.navbar li a:hover{
    color:rgb(127, 203, 238);
    font-weight: bold;
}

.menu3{
   background-image: url(imgs4.jpg);
    border: 4px solid rgb(0, 0, 0);
    display: block;
    border-radius: 12px;
    flex-wrap: wrap;
    
   
}
.container1{
    background-image: url(imgs3.jpg);
    flex-wrap: wrap;
    
}
.container2{
    background-image: url(imgs3.jpg);
    flex-wrap: wrap;
}
.container3{
    background-image: url(imgs3.jpg);
    flex-wrap: wrap;
}
.container4{
    background-image: url(imgs3.jpg);
    flex-wrap: wrap;
}.container5{
    background-image: url(imgs3.jpg);
    flex-wrap: wrap;
}

.Contain2{
    text-align: center;
    padding: 15px;
}

.Contain3{
    border: 2px solid rgb(20, 17, 17);
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    height: 50px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
  
.Contain4{
    text-align: center;
    padding: 18px;
   
}
.font1{
    font-size: 30px;
    padding-right: 950px;
    flex-wrap: wrap;
}

.mainbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px
}
.box1{
    width: 250px;
    height: 250px;
    background-image: url(img202.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    cursor: pointer;
    border: none;
}
.box1 h1{
    color: antiquewhite;
    margin-top: 200px;
    font-size: 30px;
    margin-bottom: 15px;
    padding-right: 50px;
}
.box2{
    width: 250px;
    height: 250px;
    background-image: url(img203.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    cursor: pointer;
    border: none;
}
.box2 h1{
    color: antiquewhite;
    margin-top: 200px;
    font-size: 30px;
    margin-bottom: 15px;
    padding-right: 50px;
}
.box3{
    width: 250px;
    height: 250px;
    background-image: url(img204.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    cursor: pointer;
    border: none;
}
.box3 h1{
    color: antiquewhite;
    margin-top: 200px;
    font-size: 30px;
    margin-bottom: 15px;
    padding-right: 50px;
}
.box4{
    width: 250px;
    height: 250px;
    background-image: url(img205.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    cursor: pointer;
    border: none;
}
.box4 h1{
    color: antiquewhite;
    margin-top: 200px;
    font-size: 30px;
    margin-bottom: 15px;
    padding-right: 50px;
}

.contain5{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.contain6{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.contain7{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.contain8{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.contain9{
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.btn12{
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    border: 1px solid black;
    padding: 6px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 6px;
    text-decoration: none;
    align-items: center;
}
.btn12:hover{
    background-color: aliceblue;
    color: rgb(127, 203, 238);
}

 
 .btn1{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
} 


.btn2{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
}

 .btn3{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
} 

 .btn4{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    
} 

 .btn5{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
 }

 .container10{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }


.fa-regular fa-heart{
    font-weight: 400px;
}
 .card{
    border: 1px solid black;
    width: 220px;
    height: 340px;
    margin: 10px;
 }

 /* .btn45{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    

 } */
 .img1{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
   
   
 }
 .img2{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
    
 }
 .img3{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
    
 }
.img4{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
    
}

 .container11{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 .heart-p{
    position: absolute;
    background-color: rgb(255, 251, 251);
    border-radius: 100%;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 3px;
    top: 20px;
    right: 27px;
    font-size: 20px;
    
}

 
 .card{
    position: relative;
    width: 220px;
    height: 300px;
    margin: 10px;
    
 }
 
 .img5{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
   
 }
 .img6{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
   
 }
 .img7{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
   
 }
.img8{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
    
}
.container12{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

.card{
    
    width: 220px;
   
    margin: 10px;
   
    padding: 12px;
    font-size: 15px;
 }
 .img9{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
    
 }
 .img10{
    height: 150px;
    width: 219px;
    margin-bottom: 15px;
    background-size: cover;
    
 }

 .card:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.1s ease;
 }

 .card a{
    color: rgb(2, 36, 230);
    padding: 5px 20px; 
    margin: 15px ;
    text-align: center;
    text-decoration: none;
    
 }
 

 .footer1{
    min-height: 300px;
    background-image: url(imgs14.jpg);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    min-width: 50px;
    margin-top: 70px;
 }
 .foot2{
    padding-left: 45px;
 }
 .foot3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 }
 .foot4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;

 }
 .footer1 .foot4 button{
     border-radius: 10px;  
    padding: 6px;
    margin: 6px;
 }
 ul {
    list-style: none;
 }

  .fa-circle{
    color: rgb(73, 223, 68);
    font-size: 14px;
 }
.filter{
    margin-top: 10px;
}
.form1{
    padding: 20px;
    border-radius: 20px;
}   

.form2{
    border-radius: 20px;
    border: 2px solid black;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
    
}

